<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Web Extractor</title>
    </head>
    <body>
        <h1>404 page</h1>
        <a href='#'>Go to home</a>
    </body>
</html>